.calculator {
    width: 80rem;
    height: 40rem;
    background-color: var(--color-white);
    padding: 2.5rem;
    border-radius: 2rem;
    display: flex;
    gap: 3rem;
}

.values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 1rem;
}

.tip .buttons {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 1rem;
    margin-top: .8rem;

}

.buttons > button {
    border: none;
    padding: .5rem 1rem;
    border-radius: .4rem;
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 2rem;
}

.buttonFixed {
    cursor: pointer;
    background-color: var(--color-very-dark-cyan);
    color: var(--color-white); 
}

.buttonFixed:hover {
    background-color: var(--color-medium-grayish-cyan);
    color: var(--color-very-dark-cyan); 
}

.buttonActive {
    background-color: var(--color-strong-cyan);
    color: var(--color-very-dark-cyan);
}

.buttonCustom {
    cursor: pointer;
    background-color: var(--color-very-light-grayish-cyan);
    color: var(--color-dark-grayish-cyan);
}

.numberPerson .error {
    display: none;
    float: right;
    font-family: var(--font-1);
    font-size: 1.2rem;
    color: var(--color-red);
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: var(--color-very-dark-cyan);
    border-radius: 1rem;
    padding: 4rem 3rem 3rem 3rem;
}

.result .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.result .wrapper .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row .description p {
    font-size: 1.4rem;
    color: var(--color-white);
}

.row .description span {
    font-size: 1.2rem;
    color: var(  --color-grayish-cyan);
}

.row .value {
    font-size: 4rem;
    color: var(--color-strong-cyan);;
}

.result button {
    padding: .8rem;
    background-color: var(--color-strong-cyan);
    border: none;
    border-radius: .4rem;
    text-transform: uppercase;
    font-family: var(--font-1);
    color: var(--color-very-dark-cyan);
    cursor: pointer;
}

.result button:hover {    
    background-color: var(--color-medium-grayish-cyan);
}